.nav {
    height: 10vh;
    width: 100%;
    padding: 0.5rem 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 20;
}

.logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 18.75rem;
    height: auto;
    margin-bottom: 0.8rem;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
    font-size: 0.6rem;
    text-align: center;
    position: relative;
}

.navLinks h2 {
    font-weight: 500;
}

.navLinks a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

.navLinks a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.062rem;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
}

.navLinks a:hover:after {
    transform: scaleX(1);
    transition-duration: 0.4s;
    transform-origin: left center;
}

.missionBtn {
    margin-left: auto;
}

.missionBtn button {
    position: relative;
    padding: 0.9rem 2.5rem;
    background: transparent;
    outline: none;
    border: 0.25rem solid var(--space-x-blue);
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
}

.missionBtn button:after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--space-x-blue);
    background: var(--space-x-blue);
    transform: scaleY(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top center;
    z-index: -1;
}

.missionBtn button:hover:after {
    transform: scaleY(1);
    transition-duration: 0.4s;
    transform-origin: bottom center;
}

@media only screen and (max-width: 768px) {
    .nav {
        padding: 0 2rem;
    }

    .navLinks {
        display: none;
    }

    .missionBtn {
        display: none;
    }
}
