.vehicleSpecs {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 0 3rem 0 0;
    flex: 1 1 70%;
}

.vehicleTitle h3 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2;
}

.title h4 {
    font-size: 2.7rem;
    font-weight: 500;
}

.vehicleImage {
    display: grid;
    place-items: center;
    height: 100%;
    width: 50%;
    padding-right: 2rem;
}

.vehicleImage img {
    height: 80%;
    width: auto;
    margin: auto 3rem auto 5rem;
}

@media only screen and (max-width: 1024px) {
    .vehicleSpecs {
        width: 60%;
        left: 40%;
    }
    .specs {
        padding: 0;
    }
    .vehicleImage {
        padding-right: 0;
    }

    .vehicleImage img {
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .vehicleSpecs {
        position: relative;
        top: auto;
        left: 0;
        width: 90%;
        margin: auto;
    }
    .specs {
        align-items: flex-start;
        width: 50%;
    }
    .vehicleImage {
        width: 30%;
    }
    .vehicleImage img {
        margin-left: 10rem;
        height: 60%;
    }
}

@media only screen and (max-width: 576px) {
    .specs {
        padding: 0;
        align-items: flex-start;
        flex: auto;
        width: 50%;
        margin-bottom: 20%;
    }
    .vehicleImage {
        display: none;
    }
}
