.homeDescriptionContainer {
    position: relative;
    top: -100px;
    width: 100%;
    height: 30rem;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem;
}

.homeDescription {
    width: 40%;
}
.homeTable {
    width: 50%;
}

.table {    
    margin-bottom: 1.87rem;
    width: 100%;
    font-weight: 500;
    border-collapse: collapse;
}

.table tr td:last-of-type {
    text-align: right;
}

.table span {
    color: var(--secondary-color);
}

.table tr {
    height: 3.75rem;
    width: 100%;
}

.table td {
    border-bottom: 1px solid var(--secondary-color);
    font-size: 1rem;
}
