.missions {
    width: 85%;
    height: auto;
    margin: auto;
    padding-top: 1rem;
}

.totalStats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 50%;
}

.totalLaunches {
    text-align: center;
}

.number h3 span {
    font-size: 5rem;
    font-weight: 400;
    line-height: 0.9;
}

.subHeading h4 {
    font-size: 0.9rem;
    font-weight: 400;
}

.filter {
    position: relative;
    margin-top: 1rem;
    height: 3.75rem;
}

.filterSelected {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
}

.filterSelected .selected {
    background-color: var(--space-x-blue);
    margin-left: 0.8rem;
}

.filter button {
    position: relative;
    width: 8.15rem;
    height: 2.75rem;
    background: transparent;
    outline: none;
    border: 0.25rem solid var(--space-x-blue);
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
}

.filter button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--space-x-blue);
    transform: scaleY(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top center;
    z-index: -1;
}

.filter button:hover:after {
    transform: scaleY(1);
    transition-duration: 0.4s;
    transform-origin: bottom center;
}

.missionInfo {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
    margin: auto;
}
.missionTable {
    width: 95%;
    height: auto;
    margin: auto;
    font-weight: 500;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.missionTable tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.4);
}

.missionTable tr {
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
}

.missionTable td {
    border-bottom: 1px solid var(--secondary-color);
    font-size: 1rem;
    width: 14.2%;
    text-align: center;
    height: 3.75rem;
}

.missionsNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.leftBtn,
.rightBtn {
    font-size: 2rem;
    width: 1.25rem;
    background: none;
    border: none;
    outline: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.midBtns button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 0.5rem;
}
