.landing {
    position: relative;
    width: 100%;
    height: calc(100% - 10vh);
    padding: 0 3rem;
}

.vehicleSpecs {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 0 3rem 0 0;
    flex: 1 1 70%;
}

.vehicleTitle h3 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2;
}

.title h4 {
    font-size: 2.7rem;
    font-weight: 500;
}

.table {
    margin-top: 2rem;
    margin-bottom: 1.87rem;
    width: 100%;
    font-weight: 500;
    border-collapse: collapse;
}

.table tr td:last-of-type {
    text-align: right;
}

.table span {
    color: var(--secondary-color);
}

.table tr {
    height: 3.75rem;
    width: 100%;
}

.table td {
    border-bottom: 1px solid var(--secondary-color);
    font-size: 1rem;
}

/* Video buttons */

.videoBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(7.25rem - 1.87rem);
    margin-bottom: 2.1rem;
}

.videoBtns button {
    position: relative;
    background: none;
    width: 30%;
    height: 3.75rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    border: 0.25rem solid var(--space-x-blue);
    z-index: 1;
}

.videoBtns button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--space-x-blue);
    transform: scaleY(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top center;
    z-index: -1;
}

.videoBtns button:hover:after {
    transform: scaleY(1);
    transition-duration: 0.4s;
    transform-origin: bottom center;
}

.specsNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -1rem;
}

.leftBtn,
.rightBtn {
    font-size: 2rem;
    width: 1.25rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.midBtns button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 0.3rem;
}

.vehicleImage {
    display: grid;
    place-items: center;
    height: 100%;
    width: 50%;
    padding-right: 2rem;
}

.vehicleImage img {
    height: 80%;
    width: auto;
    margin: auto 3rem auto 5rem;
}
