.missions {
    width: 85%;
    height: 90vh;
    margin: auto;
    padding-top: 1rem;
    display: grid;
    place-items: center;
}

.container {
    width: 100%;
    height: auto;
}


.missionInfo {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
    margin: auto;
}


.missionsNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.leftBtn,
.rightBtn {
    font-size: 3rem;
    width: 1.25rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.midBtns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.disabled {
    color: rgba(255, 255, 255, 0.199);
}
.midBtns button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 0.5rem;
}

@media only screen and (max-width: 768px) {
    .missions {
        width: 95%;
    }
    .container {
        margin-bottom: 8%;
    }
    .totalStats {
        width: 70%;
    }
    .missionTable {
        min-height: calc(var(--tablerow-height-tablet) * 9);
    }
    .missionTable tr {
        height: var(--tablerow-height-tablet);
    }
    .leftBtn,
    .rightBtn {
        width: 3.5rem;
        height: 5rem;
        font-size: 4rem;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        margin-bottom: 15%;
    }
    .totalStats {
        width: 90%;
        margin-bottom: 2rem;
    }
    .missionTable {
        min-height: calc(var(--tablerow-height-mobile) * 9);
    }
    .missionTable tr {
        height: var(--tablerow-height-mobile);
    }
    .missionTable tr td:nth-of-type(6),
    .missionTable tr td:nth-of-type(4) {
        display: none;
    }
    .missionsNav {
        width: 100%;
    }
    .filter button {
        background-color: var(--space-x-blue);
    }
}
