@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;    
    --secondary-color: #868686;
    --space-x-blue: #005288;
    --tablerow-height: 3.75rem;
    --tablerow-height-tablet: 4.75rem;
    --tablerow-height-mobile: 4rem;
}

body {
  overflow: hidden;
  color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
button {
  color: #fff;
}

@media only screen and (max-width: 1300px) {
    * {
      font-size: 10px;
    }
  }

  @media only screen and (max-width: 992px) {
    * {
      font-size: 10px;
    }
  }

  @media only screen and (max-width: 576px) {
    * {
      font-size: 10px;
    }
  }
